<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }} | Sai Ma Lab</title>

  <link rel="stylesheet" href="/css/style.css?v=6">
</head>

<body>

<header class="site-header">
  <div class="container nav">

  <a href="/" class="logo">Sai Ma Lab</a>

  <div class="nav-right">

    <nav>
      <a href="/research.html">Research</a>
      <a href="/team.html">Team</a>
      <a href="/publications.html">Publications</a>
      <a href="/sai-ma.html">Sai Ma</a>
      <a href="/join.html">Join Us</a>
    </nav>

    {% if site.data.home.lab_logo %}
      <a href="/" class="header-logo">
        <img src="{{ site.data.home.lab_logo }}" alt="Sai Ma Lab logo">
      </a>
    {% endif %}

  </div>

</div>
</header>

<main>
  {{ content }}
</main>

<footer>
  <div class="container footer-inner">
    <div>
      <strong>Sai Ma Lab</strong><br>
      Icahn School of Medicine at Mount Sinai
    </div>

    <div>
      © 2026 Sai Ma Lab
    </div>
  </div>
</footer>

</body>
</html>
